release/
debug/
hlp/
ipch/
obj/
*.Old
*.aps
*.bak
*.dat
*.db
*.dsp
*.dsw
*.grib
*.ncb
*.old
*.opensdf
*.opt
*.plg
*.sdf
*.st
*.suo
*.tmp
*.vcproj.*
*.vcxproj.*
!*.vcxproj.user
*UpgradeLog*
*UpgradeReport*
*_h.h
*_i.c
*_i.h
*_old
*~
.kdbgrc*
Dependencies*
/ashtoqd
/bufrtoqd
/combinepgms2qd
/csv2qd
/flash2qd
/grib2tojpg
/grib2toqd
/gribtoqd
/h5toqd
/laps2qd
/metar2qd
/nc2qd
/nctoqd
/pgm2qd
/qd2csv
/qd2geotiff
/qdcheck
/qdcombine
/qdcrop
/qddiff
/qdextract
/qdfilter
/qdgridcalc
/qdinfo
/qdinterpolatearea
/qdinterpolatetime
/qdmissing
/qdpoint
/qdproject
/qdscript
/qdset
/qdsmoother
/qdsounding
/qdsoundingindex
/qdsplit
/qdstat
/qdtogrib
/qdversionchange
/qdview
/radartoqd
/synop2qd
/temp2qd
/wrftoqd
